.progressbar
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 999999
.bar
    height: 2px
    width: 0%
    background-color: var(--brogressbar-color)
    transition: .2s ease-out