@use 'assets/styles/colors' as color
@use 'assets/styles/mixins' as m
@use 'assets/styles/functions' as f

.modal
    position: fixed
    left: 0
    bottom: 0
    right: 0
    overflow-y: auto
    height: 100vh
    background-color: f.HEXtoRGBA(color.$main-second-color, .8)
    display: flex
    flex-direction: column
    justify-content: space-between

.topSpacer
    width: 100%
    min-height: 70px

.container
    box-sizing: border-box
    padding: 20px
    background: color.$main-color
    border-radius: 20px 20px 0 0
    width: 100%
    margin: 0 auto

.header
    display: flex
    justify-content: space-between
    align-items: flex-start
    column-gap: 10px
    margin: 0 0 40px 0
    &Title
        @include m.fontInter(26px, color.$main-opposite-color, 500, 140%)
    &Close
        font-size: 0
        position: relative
        top: 7px
        cursor: pointer
        padding: 0
        background: unset
        border: none

.content